# This is a basic workflow to help you get started with Actions

name: GitHub Pages Deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Build Vue dist
        run: |
          yarn install
          yarn build

      - name: GitHub Pages action
        # You may pin to the exact commit or the version.
        # uses: peaceiris/actions-gh-pages@bbdfb200618d235585ad98e965f4aafc39b4c501
        uses: peaceiris/actions-gh-pages@v3.7.3
        with:
          # Set a generated GITHUB_TOKEN for pushing to the remote branch.
          github_token: ${{ secrets.GHPAGES_TOKEN }}
          external_repository: kingcoyote/kingcoyote.github.io
          # Set a target branch for deployment.
          publish_branch: main
          # Set an input directory for deployment.
          publish_dir: ./dist
          # Set an destination subdirectory for deployment.
          destination_dir: ./twilight
          # If existing files in the publish branch should be not removed before deploying
          keep_files: false

